absl-py
cachetools
certifi
charset-normalizer
cycler
google-auth
google-auth-oauthlib
grpcio
idna
kiwisolver
matplotlib
numpy==1.22.0
oauthlib
Pillow
protobuf
pyasn1
pyparsing
python-dateutil
requests
requests-oauthlib
rsa
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
typing-extensions
urllib3
Werkzeug
tqdm
tensorflow